body{
    background-color: wheat;
}
h1{
    color: black;
    text-align: center;
    font-size: 5rem;
}

table{
    padding-left: 29%;

}


.game{
    color:black;
    font-size: 3rem;
    padding-right: 100px;
}

.btn{
    color: paleturquoise;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 55px;
    width: 225px;
    border-radius: 25px;
    font-weight: 1.5rem;
    cursor: pointer;
    background-color:black;
}